@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('/static/img/black_solid.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

header{
    background: #0E011E;
    padding: 7px 0px;
    border-bottom: 2px solid #190334;
    text-align: center;
    align-items: center;
}

#logo{
    height: 70px;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

#fundo-branco{
    grid-column: 2;
    padding: 50px 20px;
    background: #aaaaaaf4;
    height: 100%;
}

#fundo-branco h1{
    font-family: 'Libre Baskerville', serif;
    color: #2d082f;
    padding: 10px;
    border-left: 2px solid blueviolet;
}

.campo{
    margin: 10px 30px;
}

.escrever{
    width: 70%;
}

.campo h3{
    padding: 10px;
    color: #2d082f;
}

.campo_generos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

.campo_generos li{
    padding: 5px 0px;
}

#novo_anime{
    margin-bottom: 50px;
}

#fundo-branco input{
    padding: 3px;
}

.submit{
    background: blueviolet;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #2d082f;
    width: 10%;
}

#fundo-branco label{
    color: #2d082f;
}