<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/pagina_cadastro.css') }}">
    <title>Eiya Animes |Faça seu cadastro</title>
</head>
<body>
    <div id="form-cadastro">
        <h1>Faça seu Cadastro</h1>
        <form action="/cadastro" method="post">
            <label for="input-nome">Nome:</label><br>
            <input id="input-nome" type="text" name="nome-usuario" placeholder="Nome"><br><br>
            <label for="input-email">Email:</label><br>
            <input id="input-email" type="text" name="email-usuario" placeholder="Email"><br><br>
            <label for="input-senha">Senha:</label><br>
            <input id="input-senha" type="password" name="senha-usuario" placeholder="Senha"><br><br>
            <label for="input-confirmarSenha">Senha:</label><br>
            <input id="input-confirmarSenha" type="password" name="confirmarSenha-usuario" placeholder="Confirmar Senha"><br><br>
            <input id="button-form" type="submit" value="Cadastrar">
        </form>
        <a class="link" href="/login">Já tem conta?</a>
    </div>

</body>
</html>