<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/pagina_adm.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Novo anime / capítulo | Eiya Animes</title>
</head>
<body>
    <header>
        <a href="/"><img id="logo" src="{{ url_for('static', filename='img/logo.png')}}" alt="logo"></a>
    </header>

    <main>
        <div id="fundo-branco">
            <h1>Novo Anime</h1>
            
                <div id="novo_anime">
                    <div class="campo">
                        <input id="nome_anime" type="text" placeholder="Nome do Anime" name="nome_anime">
                    </div>
                    <div class="campo">
                        <label for="logo_anime">Logo do Anime: </label>
                        <input id="logo_anime" type="file" name="logo_anime">
                    </div>
                    <div class="campo">
                        <input id="generos" type="text" placeholder="Gêneros" name="generos">
                    </div>
                    <div class="campo">
                        <input id="descricao" type="text" placeholder="Descrição" name="descricao">
                    </div>
                    <div class="campo">
                        <input class="submit" type="submit" value="Enviar" name="novo_anime" id="button_anime">
                    </div>
                </div>
            

            <h1>Novo Capítulo</h1>
            <form action="/adm/novo_capitulo" method="post">
                <div id="novo_capitulo">
                    <div class="campo">
                        <input id="anime_que_capitulo_pertencente" type="text" placeholder="Selecionar Anime" name="anime_que_capitulo_pertencente">
                    </div>
                    <div class="campo">
                        <input id="nome_capitulo" type="text" placeholder="Nome do Capítulo" name="nome_capitulo">
                    </div>
                    <div class="campo">
                        <input id="video_capitulo" type="file" name="video_capitulo">
                    </div>
                    <div class="campo">
                        <label for="thumbnail">Imagem do Capítulo: </label>
                        <input id="thumbnail" type="file" name="thumbnail">
                    </div>
                    <div class="campo">
                        <input class="submit" type="submit" value="Enviar" name="novo_capitulo">
                    </div>
                </div>
            </form>
        </div>

    </main>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
    
</html>