<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/faa3c30f58.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/pagina_inicial.css') }}">
    <title>Eiya Animes | Assista seu anime online</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img id="logo" src="{{ url_for('static', filename='img/logo.png')}}" alt="logo"></a></li>
                
                <li class="dropdown">
                    <a href="#">Animes <i class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown-content-anime">
                        <ul>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Finalizados</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Top Animes</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Legendado</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Dublado</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Calendário</a></li>
                        </ul>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#">Gênero <i class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown-content-generos">
                        <ul class="genero">
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Shounen</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Shoujo</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Seinen</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Josei</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Isekai</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Mecha</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Slice of Life</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Iyashikei</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Ação</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Aventura</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Comédia</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Drama</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Mistério</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Romance</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Sci-Fi</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Terror</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Artes marciais</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Yaoi</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Yuri</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Esporte</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Magia</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Musica</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Psicológico</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Sobrenatural</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Super Poderes</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Escolar</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Ecchi</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Harem</a></li>
                            <li><a href="#" class="itens-lista"><i class="fa-solid fa-caret-right"></i> Hentai</a></li>
                        </ul>
                    </div>
                </li>

                <li id="li-search">
                    <div id="search">
                        <input type="text" placeholder="Buscar anime">
                        <a href="#"><i class="fa-solid fa-magnifying-glass" style="color: blueviolet;"></i></a>
                    </div>
                </li>

                <li>
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                    <a id="button-login-cadastro" href='/cadastro'><i class="fa-solid fa-user-plus"></i></a>
                </li>
                
            </ul>
        </nav>
    </header>
    <main>
        <div id="fundo-branco">
            <div id="grade-animes">
                <h1>Em Alta</h1>
                <div class="sidebar">
                    <div class="conteiner">
                        <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                        <a href="#">Legenda</a>
                    </div>
                    <div class="conteiner">
                        <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                        <a href="#">Legenda</a>
                    </div>
                    <div class="conteiner">
                        <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                        <a href="#">Legenda</a>
                    </div>
                    <div class="conteiner">
                        <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                        <a href="#">Legenda</a>
                    </div>
                    <div class="conteiner">
                        <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                        <a href="#">Legenda</a>
                    </div>
                    <div class="conteiner">
                        <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                        <a href="#">Legenda</a>
                    </div>
                    <div class="conteiner">
                        <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                        <a href="#">Legenda</a>
                    </div>
                    <div class="conteiner">
                        <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                        <a href="#">Legenda</a>
                    </div>
                </div>

                <h1>Lançamentos</h1>
                <div class="conteiner">
                    <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                    <a href="#">Legenda</a>
                </div>
                <div class="conteiner">
                    <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                    <a href="#">Legenda</a>
                </div>
                <div class="conteiner">
                    <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                    <a href="#">Legenda</a>
                </div>
                <div class="conteiner">
                    <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                    <a href="#">Legenda</a>
                </div>
                <div class="conteiner">
                    <a href="#"><img src="{{ url_for('static', filename = '/img/fantasmas.png') }}" alt="historico"></a>
                    <a href="#">Legenda</a>
                </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>